<section class="sidebar">
  <div class="sidebar__brand">
    <span>АБ</span><span>-тесты<span>
  </div>
  <%= link 'Эксперименты', admin_experiments_path %>
  <%= link 'Токены', admin_device_tokens_path %>
</section>
