<h1>Эксперименты</h1>
<%=
  render Admin::Experiments::Index::ItemsComponent.new(
    experiments: @experiments,
    experiments_total_count: @pagination.count,
    value_probabilities_query: @value_probabilities_query
  )
%>
<div class="actions">
  <div>
    <button class="btn" id="send-device-token">Отправить случайный токен</button>
    <button class="btn refresh" onClick="window.location.reload()">Обновить данные</button>
  </div>
  <%= render Admin::Experiments::Index::PaginationComponent.new(pagination: @pagination) %>
</div>
