body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
  font-size: 16px;
  color: #262626;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidebar {
  background: #fcfefe;
  padding: 10px;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.sidebar__brand {
  font-size: 1.3em;
  font-weight: bold;
  align-self: center;
}

.sidebar__brand > *:first-child {
  color: #f76b8a;
}

.main {
  padding: 10px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  width: 100%;
  overflow: scroll;
}

.main h1 {
  font-size: 2em;
  margin-bottom: 0;
}

.btn {
  color: white;
  border: 3px solid white;
  padding: 10px;
  font-size: 1em;
}

.btn:hover {
  opacity: .85;
  cursor: pointer;
}

.btn:disabled {
  opacity: .85;
  cursor: not-allowed;
}

.btn.refresh {
  background: #66bfbf;
  border-color: #91dfdf;
}

#send-device-token {
  background: #f76b8a;
  border-color: #fb90a7;
}

table {
  background: white;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px lightgrey;
  border-spacing: 0;
}

table thead th {
  padding: 5px 1px 20px 1px;
  border-bottom: 1px solid black;
  white-space: nowrap;
}

table .experiment__title {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

table tbody td {
  padding: 3px 1px;
}

table tbody tr:nth-child(odd) {
  background: #f9f8f9;
}

table tbody tr:hover {
  background: #eaf6f6;
}

.table-info { align-self: flex-end; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.pagination {
  display: flex;
  list-style-type: none;
  align-self: center;
  margin: 0;
  padding-left: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 3px 5px;
  color: #f76b8a;
}

.pagination li.active a {
  background: #f76b8a;
  color: white;
}

#toasts {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: .9em;
  z-index: 1;
  overflow: hidden;
}

.toast {
  padding: 10px;
  margin-bottom: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  opacity: .9;
  border-left: 5px solid white;
}

.toast-success {
  background: #66bfbf;
  border-color: #91dfdf;
}

.toast-error {
  background: #f76b8a;
  border-color: #fb90a7;
} 
